<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.d2.offsitesr">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <application
        android:name=".app.OffsiteSRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".ui.view.login.LoginActivity"> -->
        <activity android:name=".ui.view.login.SetupPermissions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        \
        <activity android:name=".ui.view.login.LoginActivity" />
        <activity android:name=".ui.view.verifications.LicenseActivity" />
        <activity android:name=".ui.view.verifications.UpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <action android:name="android.intent.action.DELETE"/> -->
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.ticketlist.TicketListActivity" />
        <activity
            android:name=".ui.view.ticketdetails.TicketDetailsActivity"
            android:parentActivityName=".ui.view.ticketlist.TicketListActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".ui.view.ticketdetails.TicketListActivity" />
        </activity>
        <activity android:name=".ui.view.settings.SettingsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".app.info.AboutAppActivity"></activity>
    </application>

</manifest>